body {
    padding: 0;
    margin: 0;
}

#startMenu {
    background-color: rgba(63, 66, 84, 0.53);
}

#startMenu button {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px; /* Need a specific value to work */

}

.absolute {
    position: absolute;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

